body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
}
#habits div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 15px;
}

.day {
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.day.done {
    background: #b7f5c3;
}

.day.empty {
    background: transparent;
    cursor: default;
}

#habits div > div {
    display: flex;
    gap: 5px;
}
